quadruped_controller/build
quadruped_controller/install
quadruped_controller/log
quadruped_controller_cpp/src/champ/champ/build
quadruped_controller_cpp/src/champ/champ_base/build
*/__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
note/