src/__pycache__
unitree_ws/build
unitree_ws/install
unitree_ws/log
quadruped_controller/build
quadruped_controller/install
quadruped_controller/log
quadruped_controller_cpp/build
quadruped_controller_cpp/install
quadruped_controller_cpp/log
.vscode/settings.json
.vscode/